html {
  font-size: 62.5%;
}

body {
  font-family: "Dongle", sans-serif;
  color: #1a2b5f;
  line-height: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.text-clamp {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.text-clamp--2 {
  -webkit-line-clamp: 2;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  padding-top: 4rem;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__inner .fas {
  display: none;
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu-item {
  margin-left: 5rem;
}
.header__menu-item:last-child {
  margin-left: 7rem;
}
.header__menu-link {
  color: #1a2b5f;
  font-size: 2rem;
  transition: 0.6s;
}
.header__menu-link:hover {
  color: #ffc87a;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1a2b5f;
}
.logo__text {
  color: #ffc87a;
}

.banner {
  padding-top: 10rem;
  padding-bottom: 10rem;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}
.banner__heading {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.banner__desc {
  font-weight: 300;
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
.banner__btn {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.banner__btn .btn {
  margin: 0 1rem;
}

.btn {
  cursor: pointer;
  color: #1a2b5f;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem 3rem;
  display: inline-block;
  border: 0;
  background-color: transparent;
}
.btn--border {
  border: 1px solid;
}
.btn--round {
  border-radius: 5rem;
}
.btn--primary {
  background-color: #ffc87a;
}

.category__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.category__item {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  width: calc(25% - 22.5px);
  padding: 2.5rem;
  border-radius: 20px;
  background-color: #f3f3f3;
}
.category__img {
  border-radius: inherit;
  object-fit: cover;
  margin-bottom: 4rem;
  width: 100%;
  height: 23rem;
}
.category__name {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category__details {
  color: #c6cad7;
  font-size: 1.6rem;
  margin-top: auto;
}
.category__details i {
  margin-left: 1.5rem;
}

.feature {
  padding-top: 15rem;
}
.feature__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 15rem;
}
.feature__item:nth-child(odd) .feature__info {
  padding-left: 10rem;
}
.feature__item:nth-child(even) {
  flex-direction: row-reverse;
}
.feature__item:nth-child(even) .feature__info {
  padding-right: 10rem;
}
.feature__img, .feature__info {
  width: 50%;
}
.feature__img {
  width: 600px;
  border-radius: 4rem;
  overflow: hidden;
}
.feature__tittle {
  font-size: 4rem;
  font-weight: 700;
  padding-bottom: 2rem;
}
.feature__desc {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.feature-intro {
  margin-bottom: 2rem;
}
.feature-intro__item {
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.feature-intro__item--circle {
  text-decoration: none;
  position: relative;
  padding-left: 1.5rem;
}
.feature-intro__item--circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: red;
}
.feature-best__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 4px;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  color: #ffa400;
  z-index: 2;
}
.feature-best__icon--purple {
  color: purple;
}
.feature-best__icon--green {
  color: green;
}
.feature-best__icon--blue {
  color: blue;
}
.feature-best__icon::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: currentColor;
  border-radius: inherit;
  opacity: 0.25;
  z-index: -1;
}
.feature-best__tittle {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.feature-best__desc {
  font-size: 1.6rem;
  font-weight: 300;
}
.feature-best__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.feature-best__item {
  width: calc(50% - 3rem);
  margin-bottom: 5rem;
}

.partner {
  margin-bottom: 19rem;
}
.partner__container {
  max-width: 83rem;
  text-align: center;
}
.partner__tittle {
  font-size: 3.5rem;
  font-weight: 700;
  padding-bottom: 7rem;
  margin-bottom: 7rem;
  border-bottom: 1px solid;
}
.partner__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

.connect {
  text-align: center;
  margin-bottom: 17rem;
}
.connect__tittle {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}
.connect__notice {
  font-size: 2rem;
  margin-bottom: 4rem;
}
.connect__notice span {
  color: #ffc87a;
}
.connect__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.connect__item {
  width: calc(25% - 22.5px);
}

.subscribe {
  margin-bottom: 5rem;
}
.subscribe__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-bottom: 8rem;
  border-bottom: 3px solid;
}
.subscribe__tittle, .subscribe__info {
  width: 50%;
}
.subscribe__tittle {
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 43rem;
}
.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #f2f1f6;
  padding: 2rem;
  margin-bottom: 3.5rem;
}
.subscribe__input {
  border: 0;
  outline: none;
  background-color: transparent;
  flex-grow: 1;
}
.subscribe__button {
  cursor: pointer;
  color: #1a2b5f;
  font-weight: 600;
  border: 0;
  outline: none;
  background-color: transparent;
}
.subscribe__social i {
  margin-left: 4rem;
  font-size: 2.5rem;
}

.footer {
  padding-bottom: 5rem;
}
.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.footer__item {
  width: 25%;
}
.footer__link {
  display: block;
  width: fit-content;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 1023px) {
  .banner {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .banner__desc {
    margin-bottom: 2rem;
  }

  .category__item {
    width: calc(50% - 22.5px);
    margin-bottom: 2rem;
  }

  .feature {
    padding-top: 5rem;
  }
  .feature__item {
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .feature__item:nth-child(even) {
    flex-direction: column;
  }
  .feature__item:nth-child(even) .feature__info {
    padding-right: 0;
  }
  .feature__item:nth-child(odd) .feature__info {
    padding-left: 0;
  }
  .feature__img, .feature__info {
    width: 100%;
  }
  .feature__img {
    max-width: 400px;
    margin-bottom: 0.5rem;
  }
  .feature__desc {
    font-size: 2.5rem;
  }
  .feature__tittle {
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
  .header .fas {
    display: inline;
    font-size: 2.5rem;
  }
  .header__menu {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    background-color: #ffa400;
    transition: 0.6s;
  }
  .header__menu-list {
    flex-direction: column;
  }
  .header__menu-item {
    margin: 3rem 0;
    font-size: 2rem;
  }
  .header__menu-item:last-child {
    margin-left: 0;
  }

  .category__item {
    width: 100%;
    margin-bottom: 2rem;
  }

  .partner {
    margin-bottom: 5rem;
  }
  .partner__tittle {
    padding-bottom: 4rem;
    margin-bottom: 4rem;
  }
  .partner__list {
    flex-wrap: wrap;
  }
  .partner__item {
    width: 50%;
    margin-bottom: 2.5rem;
  }
  .partner__item img {
    margin: 0 auto;
  }

  .connect {
    margin-bottom: 5rem;
  }
  .connect__list {
    flex-wrap: wrap;
  }
  .connect__item {
    width: calc(50% - 1rem);
    margin-bottom: 2rem;
  }

  .subscribe__container {
    flex-direction: column;
  }
  .subscribe__tittle, .subscribe__info {
    width: 100%;
  }
  .subscribe__tittle {
    margin-bottom: 2rem;
  }

  .footer__container {
    flex-wrap: wrap;
  }
  .footer__item {
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
  }
  .footer__item .logo {
    font-size: 5rem;
  }
  .footer__link {
    margin: 0 auto 1rem;
    font-size: 3rem;
  }
}
@media screen and (max-width: 479px) {
  .banner__heading {
    line-height: 0.7;
  }
}

/*# sourceMappingURL=style.css.map */
